CACHE MANIFEST
style/style.css
style/lightface.css
style/button.png
style/fbloader.gif
style/icons.png
style/html5-badge.png
workers/render.js
lib/modernizr-1.7.min.js
- each item in resources
	item
	
	
	(manifest='#{manifest}')